header{
    background-color: #264653;
}
nav .btn{
    background-color: #E76F51;
    color: #ffffff;
}
.text-color-p{
    color: #E0E0E0;

}
.text-color{
    color: #E76F51;
}
.image-margin{
    margin-left: 265px;
}
.row .col .purchase-btn{
    background-color: #E76F51;
    border-radius: 5px;
    padding: 8px 44px;
    color: #ffffff;
    margin-bottom: 44px;

}
.gray-scale{
    filter: grayscale(100%);

}

span{
    color: #E76F51;
}

.fa-star, .fa-star-half-alt{
    color: #E77C40;
    font-size: 16px;
}
.name-client{
    color: #23A6F0;
    font-size: 14px;
    margin-top: 15px;
    font-weight: 600;
}

.position-name{
    color: #252B42;
    font-size: 14px;
    font-weight: 600;
}

.advantage-section{
    background-color: #F8F4DA;
    padding-top: 50px;
}

.ad-text{
    color: #929284;
}

.icons{
    color: orange;
    font-size: 50px;
}
.card-hover:hover{
    background-color: #FFCD00;
    
}
.card-hover:hover .icons{
    color: #ffffff;
}

.card-hover:hover .ad-text{
    color: #ffffff;
}

